{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">New Project</legend>
                        <div class="form-group row align-items-center">
                            {{ form.name.label(class="col-3") }}

                            {% if form.name.errors %}
                                {{ form.name(class="form-control col is-invalid", placeholder='Project Name') }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.name(class="form-control col", placeholder='Project Name') }}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group row align-items-center">
                            {{ form.description.label(class="col-3") }}

                            {% if form.description.errors %}
                                {{ form.description(class="form-control col is-invalid", placeholder='Project Description') }}
                                <div class="invalid-feedback">
                                    {% for error in form.description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.description(class="form-control col", placeholder='Project Description') }}
                            {% endif %}
                        </div>
                        <br>
                        <legend class="border-bottom mb-4">Timetable</legend>
                        <div class="form-group row align-items-center">
                            {{ form.start_date.label(class="col-3") }}

                            {% if form.start_date.errors %}
                                {{ form.start_date(class="form-control col is-invalid", placeholder='Project Start Date') }}
                                <div class="invalid-feedback">
                                    {% for error in form.start_date.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.start_date(class="form-control col", placeholder='Project Start Date') }}
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group row align-items-center">
                            {{ form.deadline.label(class="col-3") }}

                            {% if form.deadline.errors %}
                                {{ form.deadline(class="form-control col is-invalid", placeholder='Project Deadline') }}
                                <div class="invalid-feedback">
                                    {% for error in form.deadline.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.deadline(class="form-control col", placeholder='Project Deadline') }}
                            {% endif %}
                        </div>
                        <br>
                        <legend class="border-bottom mb-4">Project Manager</legend>
                        <div class="users-manage" data-filter-list="form-group-users">
{#                            <div class="input-group input-group-round col-3 mx-auto">#}
{#                              <div class="input-group-prepend">#}
{#                                <span class="input-group-text">#}
{#                                  <i class="fa-solid fa-filter"></i>#}
{#                                </span>#}
{#                              </div>#}
{#                              <input type="search" class="form-control filter-list-input form-center" placeholder="Filter Project Managers" aria-label="Filter Members">#}
{#                            </div>#}
                            <div class="form-group-users col-8 mx-auto">
                                {% for pm in pms %}
                                    <div class="custom-control custom-checkbox">
                                        <input name="pm-manage-{{ pm.id }}" type="checkbox" class="custom-control-input" id="pm-manage-{{ pm.id }}">
                                        <label class="custom-control-label" for="pm-manage-{{ pm.id }}">
                                          <span class="d-flex align-items-center">
                                            <img alt="{{ pm.first_name + ' ' + pm.last_name}}" src="../static/profile_pics/{{ pm.image_file }}" class="avatar mr-2" />
                                            <span class="h6 mb-0 memberName" data-filter-by="text">{{ pm.first_name + ' ' + pm.last_name}}</span>
                                          </span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <legend class="border-bottom mb-4">Teams</legend>
                        <div class="users-manage" data-filter-list="form-group-users">
{#                            <div class="input-group input-group-round col-3 mx-auto">#}
{#                              <div class="input-group-prepend">#}
{#                                <span class="input-group-text">#}
{#                                  <i class="fa-solid fa-filter"></i>#}
{#                                </span>#}
{#                              </div>#}
{#                              <input type="search" class="form-control filter-list-input form-center" placeholder="Filter Teams" aria-label="Filter Members">#}
{#                            </div>#}
                            <div class="form-group-users col-8 mx-auto">
                                {% for team in teams %}
                                    <div class="custom-control custom-checkbox">
                                        <input name="team-manage-{{ team.id }}" type="checkbox" class="custom-control-input" id="team-manage-{{ team.id }}">
                                        <label class="custom-control-label" for="team-manage-{{ team.id }}">
                                          <span class="d-flex align-items-center">
                                              <div class="mb-0">
                                                <ul class="avatars text-center">
                                                    {% for user in team.users %}
                                                        <li>
                                                          <img alt="{{ user.first_name + ' ' + user.last_name}}" src="../static/profile_pics/{{ user.image_file }}" class="avatar" data-toggle="tooltip" data-title="{{ user.first_name + ' ' + user.last_name}}" />
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
{#                                            <img alt="{{ user.first_name + ' ' + user.last_name}}" src="../static/assets/img/avatar-female-1.jpg" class="avatar mr-2" />#}
                                            <span class="h6 mb-0 teamName form-center" data-filter-by="text">{{ team.name}}</span>
                                          </span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <br>
                        <legend class="border-bottom mb-4">Members</legend>
                        <div class="users-manage" data-filter-list="form-group-users">
{#                            <div class="input-group input-group-round col-3 mx-auto">#}
{#                              <div class="input-group-prepend">#}
{#                                <span class="input-group-text">#}
{#                                  <i class="fa-solid fa-filter"></i>#}
{#                                </span>#}
{#                              </div>#}
{#                              <input type="search" class="form-control filter-list-input form-center" placeholder="Filter members" aria-label="Filter Members">#}
{#                            </div>#}
                            <div class="form-group-users col-8 mx-auto">
                                {% for user in users %}
                                    <div class="custom-control custom-checkbox">
                                        <input name="user-manage-{{ user.id }}" type="checkbox" class="custom-control-input" id="user-manage-{{ user.id }}">
                                        <label class="custom-control-label" for="user-manage-{{ user.id }}">
                                          <span class="d-flex align-items-center">
                                            <img alt="{{ user.first_name + ' ' + user.last_name}}" src="../static/profile_pics/{{ user.image_file }}" class="avatar mr-2" />
                                              <span class="h6 mb-0 memberName" data-filter-by="text">{{ user.first_name + ' ' + user.last_name}}<small>({{ user.roles[0].name }})</small></span>
                                          </span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </fieldset>
                    <br>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('projects.projectss') }}">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Project</li>
{% endblock breadcrumb %}
