{% extends "base.html" %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
                <div class="page-header">
                    <h1>{{ team.name }}</h1>
                    <p class="lead">{{ team.description }}</p>

                </div>
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Projects</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#members" role="tab" aria-controls="members" aria-selected="false">Members</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="projects" role="tabpanel">
                        <div class="content-list-body">
                            <div class="card-list">
                                <div class="card-list-head">
                                    <h6>Projects</h6>
                                </div>
                                <div class="card-list-body">
                                    {% for project in team.projects %}
                                        <div class="card card-project">

                                            <div class="progress" style="height: 20px;">
                                                {% if (project.deadline - today).days < 7 %}
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                                {% elif (project.deadline - today).days < 30%}
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                                {% else %}
                                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                                                {% endif %}
                                            </div>

                                            <div class="card-body">
                                                <div class="card-title">
                                                    <a href="{{ url_for('projects.project', project_id=project.id) }}"><h5 data-filter-by="text">{{ project.name }}</h5></a>
                                                </div>

                                                <ul class="avatars">
                                                    {% for team in project.teams %}
                                                        {% for user in team.users %}
                                                            <li>
                                                                <a href="#" data-toggle="tooltip" title="{{ user.first_name + ' ' + user.last_name  }}">
                                                                    <img alt="{{ user.first_name , ' ', user.last_name  }}" class="avatar" src="../static/profile_pics/{{ user.image_file }}" data-filter-by="alt" />
                                                                </a>
                                                            </li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                                <div class="card-meta d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa-solid fa-list-check"></i>
                                                        <span class="text-small"> 6/10</span>
                                                    </div>
                                                    <span class="text-small" data-filter-by="text">Due in {{ (project.deadline - today).days }} days</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="members" role="tabpanel">
                        <div class="content-list-body">
                            <div class="card-list">
                                <div class="card-list-head">
                                    <h6>Team Members</h6>
                                </div>
                                <div class="card-list-body">
                                    {% for user in team.users %}
                                        <div class="card card-task">
                                              <div class="card-body">
                                                <div class="card-title">
                                                  <a href="#"><h6 >{{ user.first_name + ' ' + user.last_name + ' ' + '(@' + user.username + ')' }}</h6></a>
{#                                                  <span class="text-small">{{ user.roles[0].name }}</span>#}
                                                </div>
                                                <div class="card-meta">
                                                  <ul class="avatars">
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="{{ user.first_name }}">
                                                            <img alt="{{ user.first_name, ' ', user.last_name }}" class="avatar" src="../static/profile_pics/{{ user.image_file }}" />
                                                        </a>
                                                    </li>
                                                  </ul>
                                                </div>
                                              </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ url_for('teams.teamss') }}">Teams</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ team.name }}</li>
{% endblock breadcrumb %}